<nav id="navigation" class="menu">
  <ul id="responsive">

    <li><a>Home</a></li>

    <li><a>Jobs</a>
      <ul>
        <li><a>Browse All Jobs</a></li>
        <li><a>Jobs by Location</a></li>
        <li><a>Jobs by Skill</a></li>
        <li><a>Jobs by Designation</a></li>
        <li><a>Jobs by Company</a></li>
        <li><a>Jobs by Category</a></li>
        <li><a>Advanced Search</a></li>
        <li><a>Create Free Job Alert</a></li>
      </ul>
    </li>

    <li><a href="#">Recruiters</a>
      <ul>
        <li><a>Browse All Recruiters</a></li>
      </ul>
    </li>

    <li><a>Companies</a>
      <ul>
        <li><a>Browse All Companies</a></li>
        <li><a>About Companies</a></li>
        <li><a>Write Company Review</a></li>
        <li><a>Write Interview Advice</a></li>
      </ul>
    </li>

    <li><a>Services</a></li>
  </ul>


  <ul class="float-right">
    <li><a href="my-account.html#tab2"><i class="fa fa-user"></i> Sign Up</a></li>
    <li><a href="my-account.html"><i class="fa fa-lock"></i> Log In</a></li>
  </ul>

</nav>

<!-- Navigation -->
<div id="mobile-navigation">
  <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
</div>