<div class="container">
  <div class="sixteen columns">
    <h3 class="margin-bottom-25">Recent Posts</h3>
  </div>


  <div class="one-third column">

    <!-- Post #1 -->
    <div class="recent-post">
      <div class="recent-post-img"><a href="blog-single-post.html"><img src="assets/images/recent-post-01.jpg" alt=""></a><div class="hover-icon"></div></div>
      <a href="blog-single-post.html"><h4>Hey Job Seeker, It’s Time To Get Up And Get Hired</h4></a>
      <div class="meta-tags">
        <span>October 10, 2015</span>
        <span><a href="#">0 Comments</a></span>
      </div>
      <p>The world of job seeking can be all consuming. From secretly stalking the open reqs page of your dream company to sending endless applications.</p>
      <a href="blog-single-post.html" class="button">Read More</a>
    </div>

  </div>


  <div class="one-third column">

    <!-- Post #2 -->
    <div class="recent-post">
      <div class="recent-post-img"><a href="blog-single-post.html"><img src="assets/images/recent-post-02.jpg" alt=""></a><div class="hover-icon"></div></div>
      <a href="blog-single-post.html"><h4>How to "Woo" a Recruiter and Land Your Dream Job</h4></a>
      <div class="meta-tags">
        <span>September 12, 2015</span>
        <span><a href="#">0 Comments</a></span>
      </div>
      <p>Struggling to find your significant other the perfect Valentine’s Day gift? If I may make a suggestion: woo a recruiter. </p>
      <a href="blog-single-post.html" class="button">Read More</a>
    </div>

  </div>

  <div class="one-third column">

    <!-- Post #3 -->
    <div class="recent-post">
      <div class="recent-post-img"><a href="blog-single-post.html"><img src="assets/images/recent-post-03.jpg" alt=""></a><div class="hover-icon"></div></div>
      <a href="blog-single-post.html"><h4>11 Tips to Help You Get New Clients Through Cold Calling</h4></a>
      <div class="meta-tags">
        <span>August 27, 2015</span>
        <span><a href="#">0 Comments</a></span>
      </div>
      <p>If your dream employer appears on this list, you’re certainly in good company. But it also means you’re up for some intense competition.</p>
      <a href="blog-single-post.html" class="button">Read More</a>
    </div>
  </div>

</div>
